@import 'keyframes';

$default-animation-time: 0.4s;

.under-construction {
    animation: 1s ease-out 0s 1 fade-in;
}

.navbar {
    animation: $default-animation-time ease-out 0s 1 fade-in;
}

.animated-text {
    animation: $default-animation-time ease-out 0s 1 slide-up;
}

h1.h1--title-border {
    margin-top: 1em;
    margin-bottom: 1em;
}
